.backgroud-edituser-style{
    background-color: rgb(47, 112, 209);
    padding: 10px;
}
.paperStyle-edituser{
    padding: 20;
    height: 500px ;
    width: 800px; 
    margin: 50px auto;
}
.saveInfo-style{
    width: 320px; 
    margin-top: 20px;
    display: flex;
    justify-content: end;
}
.box-detail-style{
    
    padding-bottom: 15px;
    
}